{% extends 'base.html' %}
{% load static %}
{% load account %}

  {% block title %}
      <title>Sign in</title>
      <link href= "{% static 'css/signin.css' %}" rel="stylesheet">
  {% endblock %}

  {% block content %}
  {% load static %}
    {% if user.is_authenticated %}
      <main class="form-signin">
        <form method = "POST" action = "{% url 'poll' user.id %}"> 
          {% csrf_token %}

          <h1 class="h3 mb-3 fw-normal">Sign in</h1>
      
          <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" name = "name" placeholder="이름">
          <label for="floatingInput">이름</label>
          </div>
          <!-- ================================================== -->
          <label><input type="radio" name="sex" value="m" > 남</label>
          <label><input type="radio" name="sex" value="f" > 여</label>
          <!-- ================================================== -->
          <div class="form-floating">
          <input type="date" class="form-control" id="floatingInput" name = "birth" placeholder="생년월일">
          <label for="floatingInput">생년월일</label>
          </div>
          <!-- ================================================== -->
          <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" name = "address" placeholder="주소">
          <label for="floatingInput">주소</label>
          </div>
          <!-- ================================================== -->
          <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" name = "password" placeholder="password">
          <label for="floatingPassword">password</label>
          </div>
      <!-- ================================================== -->
          <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        </form>
      </main>
    {% endif %}
    {% if user.is_anonymous %}
      <div align = "middle">
        <br><br><br><br><br>
        Please Login to access this page
      </div>
    {% endif %}
  {% endblock %}