{% extends 'base.html' %}
{% load static %}
{% load account %}

{% block title %}
<title>Poll Result</title>
{% endblock %}

{% block content %}
<br><br><br>

    {% for POLL_CASE in POLL_CASES %}
    <h1 class="mt-4">{{POLL_CASE.poll_name}}</h1>
    <br>
    {% csrf_token %}
        {% for Candidate in alllst %} 
            <!-- 선거별로 후보 분류 -->
            {% if Candidate.Poll_Case_id == POLL_CASE %}
                {% if Candidate %}
                    {{Candidate.CandidateNum}} | {{Candidate.side}} | {{Candidate.CandidateName}} 
                    <br>
                {% endif %}
            {% endif %}
        {% endfor %}
        <br>
        <a href = "{% url 'chart' POLL_CASE.id %}">..more</a>
    {% endfor %}

<br><br><br><br>
{% endblock %}
s