<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Poll</title>
</head>

<body class="text-center">    
<main>
  <form>
    <h1 class="h3 mb-3 fw-normal" align = "middle">Sign in</h1>

    <div class="form-floating" align = "middle"  name = "adminid">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput"></label>
    </div>

    <div class="form-floating" align = "middle" name = "adminpw">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword"></label>
    </div>
  </form>
  <form>
    <div align = 'middle'>
      <button type = "submit" formaction >Sign in</button>
    </div>
  </form>  
</main>
</body>
</html>
