<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wrong!</title>
</head>
<body>
    <br>
    <div align = "middle">
        login failed 
    </div>
    <br>

    <form action ="{%url 'home'%}">
        <div align = "middle">
            <button type = "submit">home</button>        
        </div>
    </form>
    <br>
    <form action ="{%url 'adminlogin'%}">
        <div align = "middle">
            <button type = "submit">Admin login</button>        
        </div>
    </form>
</body>
</html>