<!doctype html>
<html lang="en">
  <!-- ========================================================================================= -->
<head>
    <meta charset="utf-8">
    <title>adminaccess</title>
</head>
  <!-- ========================================================================================= -->
<body class="text-center">    
<main>
  <form action="{%url 'adminlogined'%}" method = "post">
    {%csrf_token%}
    <h1 class="h3 mb-3 fw-normal" align = "middle">Sign in</h1>
  <!-- ========================================================================================= -->
    <div class="form-floating" align = "middle">
      <input type="text" name = "adminid" class="form-control" id="floatingInput" placeholder="id">
      <label for="floatingInput"></label>
    </div>
  <!-- ========================================================================================= -->
    <div class="form-floating" align = "middle">
      <input type="password" name = "adminpw" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword"></label>
    </div>
    <div align = 'middle'>
      <button type = "submit">Sign in</button>
    </div>
  </form>
    <!-- ========================================================================================= -->  
<form action="{%url 'adminsignup'%}">
    <div align = 'middle'>
        <button type = "submit">Sign up</button>
    </div>
</form>

</main>
</body>
</html>
