<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Sign up</title>
</head>
<body>
    <form action = "{%url 'newadmin'%}" method = "post">
        {%csrf_token%}
        <div class="form-floating" align = "middle" >
            <input type="text" name = "new_adminid" class="form-control" id="floatingInput" placeholder="id">
            <label for="floatingInput"></label>
          </div>
        <!-- ========================================================================================= -->
          <div class="form-floating" align = "middle" >
            <input type="password" name = "new_adminpw" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword"></label>
          </div>
          <!-- ========================================================================================= -->
          <div class="form-floating" align = "middle" >
            <input type="email" name = "new_adminemail" class="form-control" id="floatingPassword" placeholder="name@example.com">
            <label for="floatingPassword"></label>
          </div>
          <div align = "middle">
            <button type = "submit">save</button>
          </div>
    </form>
    <!-- ========================================================================================= -->
    <!-- <form action="{%url 'adminlogin'%}" align = "middle">
        <button type="submit">Sign up</button>     
    </form>
     -->
</body>
</html>