<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<br>
<br>
<body>
<form action ="{%url 'adminlogin'%}">
    <div align = "middle">
        <button type = "submit">Admin login</button>        
    </div>
</form>
<br>
<form action ="{%url 'userlogin'%}">
    <div align = "middle">
        <button type = "submit">User login</button>        
    </div>
</form>

</body>
</html>